.box-container {
    border: 1px black solid;
    display: grid;
    grid-template-columns: 50% 1fr 1fr 100px;
    grid-template-rows: 1fr 1fr 300px 1fr;
}

.box-default {
    display: flex;
    justify-content: center;
}

#box-1 {
    background-color: var(--bittersweet);
    grid-row: span 4;
}

#box-2 {
    background-color: var(--verdigris);
}

#box-3 {
    background-color: var(--lemon-chiffon);
}

#box-4 {
    background-color: var(--ash-gray);
}