p {
    color: #58d821;
    font-weight: bolder;
    background-color: #bac5c5;
}

.green {
    color: #008000;
}

#blue {
    color: #0000ff;
    margin-left: -100px;
    border: dashed 10px black;
    display: inline;
}

#blue:hover {
    margin-left: 100px;
    color: red;
}

#rubrik {
    margin-top: 50px;
}

.intro-cafe-section {
    background-color: #58d821;
    padding: 100px;
}